/* ===============common css================ */
*{
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    background: #000;
}
:root{
    --font: 'Open Sans', sans-serif;
    --font_color: #FFA343;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
    padding: 0;
}
/* ===============common css================ */
/* ===============navbar css================ */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
}
.navbar .navbar-brand{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.navbar .navbar-nav .nav-item .nav-link{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-left: 34px;
    transition: all .3s linear;
    position: relative;
}
.navbar .navbar-nav .nav-item .nav-link::after{
    content: '';
    height: 4px;
	width: 0;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s linear;
    border-radius: 2px;
}
.navbar .navbar-nav .nav-item .active::after{
	width: 100%;
    transition: all .4s linear;
}
/* ===============navbar css================ */
/* ===============banner css================ */
#banner_part{
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
#banner_part .text h2{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: var(--font_color);
    margin-bottom: 38px;
}
#banner_part .text h1{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}
#banner_part .text h3{
    font-family: var(--font);
    font-style: normal;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 88px;
}
/* ===============banner css================ */
/* ===============blog_part css============= */
.blog_part {
    padding: 200px 0 170px;
}
.blog_part .blog_text h3{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--font_color);
    margin-bottom: 13px;
}
.blog_part .blog_text h2{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.blog_part .blog_text p{
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 13px 0 66px;
}
.blog_part .blog_text a{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--font_color);
    padding: 5px 0;
    border-bottom: 3px solid transparent;
    transition: all .3s linear;
}
.blog_part .blog_text a:hover{
    color: #fff;
    border-bottom: 3px solid #fff;
}
/* ===============blog_part css============= */
/* ===============information css=========== */
#information .banner-2{
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    padding: 560px 0 30px;
    border-radius: 5px;
}
#information .banner-2 .text h3{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--font_color);
}
#information .banner-2 .text h2{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    width: 932px;
    margin: 13px 0 14px;
}
#information .banner-2 .text p{
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 893px;
}
#information .banner-2 .text a{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--font_color);
    margin-top: 24px;
    padding: 5px 0;
    transition: all .3s linear;
}
#information .banner-2 .text a:hover{
    color: #fff;
}
/* ===============information css=========== */
/* ===============contact_us css============ */
#contact_us{
    margin: 50px 0;
}
#contact_us .top .logo{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
#contact_us .top h5{
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #FFFFFF;
}
#contact_us .top button{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    text-transform: capitalize;
    color: #000000;
    padding: 18px 67px;
    border-radius: 10px;
    background: var(--font_color);
    border: none;
    margin-left: 18px;
}
#contact_us .top button:hover{
    background: #ec8b23;
}
#contact_us .left h3{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 405px;
    margin: 80px 0 50px;
}
#contact_us .left a{
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 35px;
}
#contact_us .left .icons i{
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
    transition: all .3s linear;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid transparent;
    border-radius: 50%;
}
#contact_us .left .icons i:hover{
    color: var(--font_color);
    border-color: var(--font_color);
}
#contact_us h4{
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.231818px;
    text-transform: capitalize;
    color: #FFD1A0;
    margin: 80px 0 30px;
}
#contact_us ul li{
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -0.204545px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 10px;
}
/* ===============contact_us css============ */
/* ===============footer css================ */
#footer p{
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}
/* ===============footer css================ */